html {
  background-color: #000000;
  padding: 0;
  margin: 0;
}

#background {
  position: fixed;
  width: 1000px;
  opacity: 0;
}
#mixer-box {
  background-color: white;
  position: fixedrelative;
  opacity: 0.5;
  transform: translate(100%, 50%);
  width: 400px;
  height: 400px;
  border-radius: 70%;
}

#drop-text {
  color: white;
  font-size: 30px;
}

.crystal-img {
  width: 100px;
  opacity: 0.4;
}
