* {
  margin: 0;
  padding: 0;
  background: #133250;
}

.container {
  background: #133250;
  /* height: 20vh;
  width: 50vh; */
  display: block;
  position: fixed;
  padding: 250px 250px;
  justify-content: center;
  align-items: center;
}

#pad-container {
  background: blue;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.5em;
  column-gap: 0.5em;
}

.drum-pad {
  background: radial-gradient(#35a1d3, #287aa4);
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 10px solid #16181c;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
