html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

#wrapper {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.images {
  opacity: 0;
}

#click-icons-container {
  position: absolute;
  padding-left: 10px;
  padding-top: 20vh;
  /* transform: translate(0%, 50%); */
}

.active {
}

.disabled {
}

#image-container {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  /* border: 1px solid #bc0909; */
  border: 1px solid grey;

  padding: 64px;
}

.icons {
  /* display: inline-block; */
  display: block;
  position: relative;
  padding-left: 20px;
  color: #c6d6d9;
  height: 1px;
  font-size: 40px;
  cursor: pointer;
}

.icons:hover {
  /* color: red; */
  /* color: #e3f2ff; */
  color: #e6f7fb;
  font-weight: bold;
}

#tree {
  position: fixed;
  top: -30px;
  left: 600px;
  width: 80vw;
  max-width: 70vw;
  min-width: 1000px;

  z-index: 1;
}

#mothEye {
  position: fixed;
  top: -30px;
  left: 200px;
  width: 30vw;
  max-width: 40vw;
  min-width: 500px;
  z-index: 2;
}

/* #fire {
  position: fixed;
  width: 50vw;
  top: 50px;
  left: 200px;
  z-index: 3;
} */

#fire {
  position: fixed;
  top: 50px;
  left: 400px;
  width: 55vw;
  max-width: 55vw;
  min-width: 900px;
  z-index: 10;
}

#walker {
  position: fixed;
  top: 50px;
  left: 200px;
  width: 40vw;
  max-width: 40vw;
  min-width: 500px;
  z-index: 6;
}

#wingedMan {
  position: fixed;
  top: 300px;
  left: 700px;
  width: 90vw;
  max-width: 40vw;
  min-width: 500px;
  z-index: 10;
}

#sun {
  position: fixed;
  left: 700px;
  width: 25vw;
  max-width: 30vw;
  min-width: 200px;
  z-index: 9;
}

#swingFigure {
  position: fixed;
  left: 600px;
  width: 300px;
  z-index: 3;
}

#skyBg {
  position: fixed;
  top: 20px;
  width: 95vw;
  z-index: 1;
}

#darkPlanet {
  position: fixed;
  left: 300px;
  width: 14vw;
  max-width: 16vw;
  min-width: 200px;
  z-index: 9;
}

#smoke {
  position: fixed;
  width: 30vw;
  z-index: 3;
}

#whiteMoth {
  position: fixed;
  left: 600px;
  width: 300px;
  z-index: 3;
}

#crystal {
  position: fixed;
  width: 90vw;
  z-index: 2;
}
