html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#click-icons-container {
  position: absolute;
  padding-left: 10px;
  padding-top: 20vh;
}

#image-container {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: 1px solid grey;
  padding: 64px;
}

.images {
  opacity: 0;
}

.icons {
  display: block;
  position: relative;
  padding-left: 20px;
  color: #c6d6d9;
  height: 1px;
  font-size: 40px;
  cursor: pointer;
}

.over {
  color: #72a6b4;
  font-weight: bold;
}

.active,
.active:hover {
  color: #007a99;
  font-weight: bold;
}

#tree {
  position: fixed;
  top: -80px;
  left: 620px;
  width: 60vw;
  max-width: 60vw;
  min-width: 1000px;
  z-index: 10;
}

#ghostInverted {
  position: fixed;
  bottom: 10px;
  left: 100px;
  width: 85vw;
  z-index: 2;
}

#smoke {
  position: fixed;
  width: 17vw;
  max-width: 17vw;
  min-width: 300px;
  z-index: 11;
}

#walker {
  position: fixed;
  top: 1px;
  left: 200px;
  width: 31vw;
  max-width: 31vw;
  min-width: 500px;
  z-index: 6;
}

#wingedMan {
  position: fixed;
  top: 300px;
  left: 600px;
  width: 40vw;
  max-width: 35vw;
  min-width: 500px;
  z-index: 11;
}

#sun {
  position: fixed;
  top: 20px;
  left: 650px;
  width: 25vw;
  max-width: 25vw;
  min-width: 250px;
  z-index: 9;
}

.spin {
  animation-name: spin;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#swingFigure {
  position: fixed;
  left: 500px;
  width: 12vw;
  max-width: 12vw;
  min-width: 200px;
  z-index: 3;
}

#skyBg {
  position: fixed;
  top: 20px;
  width: 95vw;
  z-index: 1;
}

#darkPlanet {
  position: fixed;
  top: 200px;
  left: 200px;
  width: 13vw;
  max-width: 13vw;
  min-width: 200px;
  z-index: 9;
}

#city {
  position: fixed;
  top: 400px;
  /* right: 100px; */
  width: 90vw;
  z-index: 1;
}

#ghost {
  position: fixed;
  bottom: 10px;
  left: 100px;
  width: 85vw;
  z-index: 2;
}

#whiteMoth {
  position: fixed;
  top: 400px;
  left: 200px;
  width: 11vw;
  max-width: 11vw;
  min-width: 200px;
  z-index: 3;
}
