. {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  margin: 0px;
  overflow: hidden;
}

#wrapper {
  background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-right: auto;
  /* height: 50vw; */
  /* width: 90vw; */
  /* border: 2px solid white; */
  justify-content: center;
  align-items: center;
}

.images {
  opacity: 0;
}

#click-icons-container {
  position: absolute;
  display: block;
  padding-top: 20vh;
}

#image-container {
  display: block;
  padding: 64px;
}

.icons {
  /* display: inline-block; */
  position: relative;
  display: block;
  /* margin: 30px; */
  padding-left: 20px;
  color: #e3f2ff;
  width: 43px;
  height: 1px;
  font-size: 40px;
  cursor: pointer;
}

.scenes-text {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 50px;
  /* z-index: 3; */
  top: 500px;
  left: 1100px;
  opacity: 0;
}

/* #scene-1 {
  top: 1100px;
  left: 400px;
} */

#tree {
  position: fixed;
  top: 10px;
  left: 600px;
  width: 80vw;
  opacity: 0;
  z-index: 1;
}

#fire {
  position: fixed;
  width: 700px;
  left: 500px;
}

/* #face {
  position: absolute;
  width: 1000px;
  z-index: 7;
  opacity: 0;
} */

/* #ghost {
  position: absolute;
  width: 1000px;
  left: 300px;
  z-index: 6;
  opacity: 0;
}

#walker {
  position: absolute;
  width: 40vw;
  left: 300px;
  z-index: 3;
  opacity: 0;
}

#sun {
  position: absolute;
  width: 45vw;
  left: 500px;
  z-index: 5;
  opacity: 0;
}

#moth {
  position: absolute;
  top: -300px;
  left: 200px;
  width: 1300px;
  z-index: 3;
  opacity: 0;
}

#swing {
  position: absolute;
  padding: 20px;
  width: 15vw;
  left: 500px;
  z-index: 4;
  opacity: 0;
}

#smoke {
  position: relative;
  width: 90vw;
  left: 200px;
  z-index: 1;
  opacity: 0;
}

#city {
  position: absolute;
  width: 10vw;
  top: 400px;
  left: 200px;
  z-index: 2;
  opacity: 0;
} */
