body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#text1 {
  color: white;
}

#text2 {
  color: white;
}

#text3 {
  color: white;
}

#text4 {
  color: white;
}

#text5 {
  color: white;
}

#text6 {
  color: white;
}

#text7 {
  color: white;
}

#text8 {
  color: white;
}

#text9 {
  color: #e3f2ff;
  /* font-weight: bold;  */
  font-size: 60px;
}

/* #moth-icon {
  width: 50px;
} */

.scenes-text {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 50px;
  /* z-index: 3; */
  top: 500px;
  left: 1100px;
  opacity: 0;
}

#scene-1 {
  top: 1100px;
  left: 400px;
}

#tree {
  position: fixed;
  top: 10px;
  left: 600px;
  width: 80vw;
  opacity: 0;
  z-index: 1;
}

#face {
  position: absolute;
  /* width: 1000px; */
  z-index: 7;
  opacity: 0;
}

#ghost {
  position: absolute;
  width: 70vw;
  left: 300px;
  z-index: 6;
  opacity: 0;
}

#walker {
  position: absolute;
  width: 40vw;
  left: 300px;
  z-index: 3;
  opacity: 0;
}

#sun {
  position: absolute;
  width: 45vw;
  left: 500px;
  z-index: 5;
  opacity: 0;
}

#moth {
  position: fixed;
  top: -300px;
  left: 200px;
  width: 1300px;
  z-index: 3;
  opacity: 0;
}

#swing {
  position: absolute;
  width: 15vw;
  left: 500px;
  z-index: 4;
  opacity: 0;
}

#smoke {
  position: absolute;
  width: 30vw;
  left: 200px;
  z-index: 1;
  opacity: 0;
}

#city {
  position: absolute;
  width: 10vw;
  top: 400px;
  left: 200px;
  z-index: 2;
  opacity: 0;
}
