body {
  background-color: black;
  overflow: hidden; /* Hide scrollbars */
}

span {
  color: #0099cc;
  line-height: 0;
  word-spacing: 0px;
}

span:hover {
  font-size: 35px;
}

.character {
  display: inline-block; /*required to play with transform*/
  position: relative;
}

#main-text {
  /* margin-left: 50px; */
  padding: 250px;
  font-family: "Orbitron";
  font-size: 25px;
}
